<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Quiz</title>
		<link rel = 'stylesheet' href= '/stylesheets/style.css' />
	</head>
	<body>
        <p>El autor de esta página es:</p>
        <h1>Clara Nieto-Taladriz Moreno</h1>
        <div class="separador"></div>
        <img src="images/perfil.jpg"></img>

	</body>
</html>