<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
    
  <body>
   <h1>ESTADÍSTICAS</h1>
      Número de preguntas: <%= preg %> <p>
      Número de comentario: <%= com %> <p>
      Número medio de comentarios por pregunta: <%= NmedioCP %> <p>
      Número de preguntas con comentarios: <%= NConCom %> <p>

  </body>
</html>
